@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that
            demonstrates how to use Entity Framework Core 1.0 in an
            ASP.NET MVC Core 1.0 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build It</h2>
        <p>This Demo is based of the step in the tutorial series on the ASP.NET site provided in the link below.  The tutorial is based on EF 6 and MVC 5.  This Demo attempts to meet the functionality set out in the tutorial using ASP.NET MVC core and EF Core features and patterns.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>
